html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

canvas {
    display: block;
    width: 100%;
    height: 100%;
}

@font-face {
    font-family: pixelFont;
    src: url(fonts/04B_30__.TTF);
}

@keyframes flicker {

    0%,
    100% {
        color: white;
        -webkit-text-stroke: 2px black;
    }

    50% {
        color: transparent;
        -webkit-text-stroke: 2px transparent;
    }
}

.iceBack {
    margin-top: 0px;
    margin-left: 334px;
    height: 800px;
    width: 860px;
    z-index: 10;
}

.logo {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
}

.startBtn {
    position: absolute;
    top: 74%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    font-size: 28px;
    width: 360px;
    height: 50px;
    background-color: #F8F2E2;
    font-family: pixelFont;
    color: white;
    -webkit-text-stroke: 2px black;
    border-radius: 3px;
    animation: flicker 0.55s infinite steps(1);
}

.backBtn {
    position: absolute;
    top: 74%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    font-size: 28px;
    width: 360px;
    height: 50px;
    background-color: #F8F2E2;
    font-family: pixelFont;
    color: white;
    -webkit-text-stroke: 2px black;
    border-radius: 3px;
    animation: flicker 0.55s infinite steps(1);
}

.insForm {
    position: absolute;
    top: 82%;
    left: 50%;
    transform: translateX(-50%);
    width: 400px;
    height: auto;
    text-align: center;
    color: white;
    font-family: pixelFont;
    font-size: 16px;
    -webkit-text-stroke: 1px black;
    z-index: 100;
    background-color: #F8F2E2;
    border-radius: 5px;
    border-style: solid;
    border-color: black;

}